body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5f0202;
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

.logout-btn {
    background-color:#5c0909;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.nav-btn {
    background-color: #5c0909;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.section {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color:#5c0909;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #5c0909;
}
